.myPopup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A8A8A8;
    opacity: 0.4;
    display: none;
    z-index: 100;
}

#popup-frame {
    position: absolute;
    top: 50%;
    left: 50%;
}

