/*

* {
    box-sizing: border-box;
}
*/


body {
    padding-top: 71px;
}



.header {
    background-color: #4F2992;

    /*
    text-align: center;
    color: white;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    */

    text-align: center;
    color: white;
    position:fixed;
    left: 0;
    top:0;
    width: 100%;
    margin-bottom: 10px;
}

/*
.headerBar {

    /*
    width: 100%;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 80px;
    position: static;
    top: 0;
    left 0;

    margin-top: 114px;
    text-align: center;
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;

    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 80px;

}

*/
.tableForHeaderBar {
    width: 100%;
    border: 1px solid #eeebeb;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-spacing: 0px;
    text-align: center;




}


.tableForHeaderBar tbody {

    background-color: grey;
}

/*
.chooseDepartment, .chooseSemester {
    background-color: whitesmoke;
    float: left;
    left: 0;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    margin-left: 10px;
}
*/

 select {
     border-radius: 5px;
 }




.middlePage {


}


.footer {
    background-color: #4F2992;
    text-align: center;
    color: white;
    position: relative;
    padding: 5px;
    width: 100%;



}

.subFooter {
    background-color: grey;
    width: 100%;
    position: relative;
    padding: 20px;



}


/*
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    color: white;
    border-radius: 5px;
}
a:hover {
    color: rebeccapurple;
    background: #eff;
}
*/

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px
}

li a {
    text-decoration: none;
    padding: 2px;
    color: black;
    text-align: left;
    border-style: solid;
    border-radius: 5px;
    border-color: #a19f9f;
    border-width: 1px;


}

li a:hover {
    text-decoration-line: underline;
}

#specialh1 {
    text-align: center;
    width: 95%;
    border-radius: 5px;
    background-color: #9e64d7;
}


.onekClass {
    /*
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: mediumpurple;
    */

    border-radius: 10px;
    border-spacing: 10px;
    text-align: center;
    border: 3px solid #999;
    padding: 0px;
    background-color: mediumpurple;
    border-collapse: collapse;
}

.classesTable thead {

}

.classesTable tr:nth-child(odd) {
    background-color: #eeebeb;
    border-collapse: collapse;
}
#theadTR tr, #theadTR td {
    padding: 0px;
    width: 95%;
    border: 1px solid #9b989d;
    background-color: mediumpurple;
    border-radius: 5px;
    border-spacing: 0px;
    border-collapse: collapse;
}

#tbodyTR tr, #tbodyTR td {

    padding: 0px;
    width: 95%;
    border: 1px solid #9b989d;
    border-radius: 5px;
    border-spacing: 0px;
    border-collapse: collapse;
}
