.outsideHeaderWrapper { height: 100%; }

b { padding-left: 15px; }

body {
    padding-top: 80px;
    margin: 0;
}

.header {
    background-color: #4F2992;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}

.tableForHeaderBar {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-spacing: 0px;
    text-align: center;
}

.tableForHeaderBar tbody { background-color: #ebe6fd; }

select { border-radius: 5px; }

.footer {
    background-color: #4F2992;
    color: white;
    text-align: center;
    position: relative;
    padding: 5px;
    width: 100%;

    position: sticky;
    bottom: 0;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.subFooter {
    background-color: #4E5052;
    width: 100%;
    position: relative;
    padding: 20px;
    color: white;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px
}

li a {
    text-decoration: none;
    padding: 2px;
    color: black;
    text-align: left;
    border-style: solid;
    border-radius: 5px;
    border-color: #4F2992;
    border-width: 1px;
}

li a:hover {
    text-decoration-line: underline;
}

.onekClass {
    border-radius: 10px;
    border-spacing: 10px;
    text-align: center;
    border: 3px solid #999;
    padding: 0px;
    background-color: #4F2992;
    border-collapse: collapse;
}

.classesTable tr:nth-child(even) {
    background-color: white;
    border-collapse: collapse;
}

.classesTable tr:nth-child(2) {
    background-color: #4F2992;
    color: white;
    border-collapse: collapse;
    text-align: left;
}

#theadTR tr, #theadTR td {
    padding: 0px;
    width: 95%;
    background-color: #4F2992;
    border-spacing: 0px;
    border-collapse: collapse;
}

#theadTRRight tr { border-top-right-radius: 5px; }

#theadTRLeft tr { border-top-left-radius: 5px; }

#tbodyTR tr, #tbodyTR td {
    padding: 0px;
    width: 95%;
    border-spacing: 0px;
    border-collapse: collapse;
}

@media (prefers-color-scheme: light) {
    nav {
        background: #ebe6fd;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    nav:hover { box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }
}


@media (prefers-color-scheme: dark) {
    nav {
        background: #171717;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    nav:hover { box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

    html { background: #2b2b2b; }

    .columnGeneralInformation a {
        color: white;
        background: #171717;
    }

    li a { color: white; }

    .navBar { background-color: #262626; }

    body { color: white; }

    .classesTable tr:nth-child(even) {
        background-color: #1c1c1c;
        border-collapse: collapse;
    }

    .tableForHeaderBar tbody { background-color: #171717; }

    .classesTable tr:nth-child(2) {
        background-color: #4F2992;
        color: white;
        border-collapse: collapse;
    }
}

/*This part deals with dropdown menu stuff for the resource page */
li a {
    text-decoration: none;
    padding: 2px;
    color: black;
    text-align: left;
    border-style: solid;
    border-radius: 5px;
    border-color: #ebe6fd;
    border-width: 1px;
}

li a:hover { text-decoration-line: underline; }

nav {
    width: 95%;
    margin: 40px auto;
    border-radius: 5px;
}

span {
    padding: 10px;
    background: #4F2992;
    color: white;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 5px;
}

span::after {
    float: right;
    right: 10%;
    content: "-";
}

.slide {
    clear: both;
    width: 100%;
    height: 0;
    /*This is a workaround to get sliding animations working avoiding a bug with using auto height*/
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.slide li {
    height: auto;
    padding: 30px;
}

#touch1000, #touch2000, #touch3000, #touch4000, #touch5000, #touch6000, #touch7000, #touch8000, #touch9000 {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch1000:checked + .slide, #touch2000:checked + .slide, #touch3000:checked + .slide, #touch4000:checked + .slide, #touch5000:checked + .slide, #touch6000:checked + .slide, #touch7000:checked + .slide, #touch8000:checked + .slide, #touch9000:checked + .slide {
    height: auto;
    padding-bottom: 20px;
}

/* Dropdown menu stuff for resource page ends here */